

/*Général*/


* {
    font-family: 'Raleway', sans-serif;
}

#bloc_page {
    width: 100%;
    margin: auto;
}

i {
    color: #0065FC;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

article {
    background-color: white;
}


/*Section recherche*/


#iconeNoire {
    color: black;
    background-color: #F2F2F2;
}

button {
    background-color: #0065FC;
}

li i {
    background-color: #DEEBFF;
}


/*Section hébergements*/


.hébergements {
    background-color: #F2F2F2;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.hébergements img {
    width: 300px;
}

.hébergements article {
    width: 300px;
}

.imgHeb {
    width: 250px;
    height: 150px;
    overflow: hidden;
    text-align: center;
}


/*Aside populaires*/


.populaires {
    background-color: #F2F2F2;
    width: 30%;
}

.populaires img {
    width: 220px;
    height: 150px;
}


/*Section activités*/


/*Footer*/


footer {
    background-color: #F2F2F2;
}