

/***********************Général************************/


* {
    font-family: 'Raleway', sans-serif;
}

#bloc_page {
    width: 100%;
    margin: auto;
}

button {
    border: none;
    background-color: #0065FC;
}

input {
    border: none;
}

i {
    color: #0065FC;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

article {
    background-color: white;
}

h2 {
    margin-left: 2%;
}


/********************Header*********************/


.logo {
    margin: 1%;
}

header {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 30%;
    margin-top: 45px;
}

header nav {
    justify-content: flex-end;
    width: 100%;
}

header nav a {
    color: black;
    margin-right: 25%;
    padding-top: 50px;
}

.navHover:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}


/********************Section recherche**************************/


.filtres ul {
    display: flex;
    flex-wrap: wrap;
}

.filtres ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4%;
    margin-top: 2%;
}

.filtres li i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.filtres li a {
    border-top: solid 2px  #F2F2F2;
    border-right: solid 2px  #F2F2F2;
    border-bottom: solid 2px  #F2F2F2;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px;
}

.cancelMargin {
    margin: 0px;
}

#iconeNoire {
    color: black;
    background-color: #F2F2F2;
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

button {
    background-color: #0065FC;
    padding: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
}

button:focus {
    outline: 0;
}

input {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding-top: 15.1px;
    padding-bottom: 13px;
}

input:focus { 
    outline: 0; 
}

.recherche p, .searchBar {
    margin-left: 2%;
}

.searchBar {
   display: inline-flex;
}


/************************Div placementArticles****************************/


.placementSectionHebPop {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


/************************Section hébergements******************************/


.hébergements {
    background-color: #F2F2F2;
    width: 60%;
    border-radius: 30px;
}

.artHeb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 1%;
}

.hébergements img {
    width: 100%;
    height: 10em;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
}

.hébergements article {
    border: 3px #FFFFFF solid;
    border-radius: 30px;
    width: 26%;
    height: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
}



/**************************Aside populaires***************************/


.populaires {
    background-color: #F2F2F2;
    width: 30%;
    border-radius: 30px;
}

.artPop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1%;
}

.populaires img {
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.populaires article {
    display: flex;
    border: 3px #FFFFFF solid;
    border-radius: 30px;
}

.tailleArticle02 {
    height: 30%;
    width: 85%;
    margin: auto;
}

.imgPop {
    position: relative;
    overflow: hidden;
    width: 30%;
    height: 100%;
}




/*************************Section activités**************************/


/*************************Footer**************************/


footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
}