

/***********************Général************************/


* {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

button {
    border: none;
    background-color: #0065FC;
}

input {
    border: none;
}

i {
    color: #0065FC;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

ul {
    list-style-type: none;
}

article {
    background-color: white;
}

h2 {
    margin-left: 2%;
    font-weight: bold;
    font-size: 20px;
}

h3 {
    font-weight: bold;
    font-size: 14px;
}

body {
    margin: 0px;
}

#bloc_page {
    margin-left: 2%;    
    margin-right: 2%;
    max-width: 1440px;
    width: 90%;
    margin: auto;
}


/********************Header*********************/


.logo {
    margin-top: 1.3em;
}

header {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 20%;
    
}

header nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    width: 100%;
}

header nav a {
    color: black;
    margin-right: 20%;
    padding-top: 45px;
    padding-left: 20px;
    padding-right: 20px;
}

.inscription {
    padding-top: 45px;
}

.navHover:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}


/********************Section recherche**************************/


.filtres ul {
    display: flex;
    flex-wrap: wrap;
}

.filtres ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4%;
    margin-top: 2%;
    padding-left: 0px;
}

.filtres .bordure {
    border-top: solid 2px  #F2F2F2;
    border-right: solid 2px  #F2F2F2;
    border-bottom: solid 2px  #F2F2F2;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-right: 10px;
}

.filtres li i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin: -20px;
}

.filtres li a {
    color: black;
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.filtres li a:hover {
    color: #0065FC;
    font-weight: bold;
}

.recherche .filtres ul {
    margin-left: 0px;
    padding-left: 0px;
}

.cancelMargin {
    margin: 0px;
}

#iconeNoire {
    color: black;
    background-color: #F2F2F2;
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

button {
    background-color: #0065FC;
    padding: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
}

button:focus {
    outline: 0;
}

#hideIcone {
    display: none;
}

#hideSearch {
    margin-top: 0px;
    margin-bottom: 0px;
}

input {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding-top: 15.1px;
    padding-bottom: 13px;
    width: 20em;
}

input:focus { 
    outline: 0; 
}


.searchBar {
   display: inline-flex;
}

.info {
    display: flex;
    align-items: center;
}

.recherche p i {
    margin-right: 1%;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: solid 2px #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recherche h2 {
    margin-left: 0px;
}

.recherche p {
    margin-left: 0px;
}

.black {
    color: black;
}




/************************Div placementArticles****************************/


.placementSectionHebPop {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


/************************Section hébergements******************************/


.hébergements {
    background-color: #F2F2F2;
    width: 67%;
    border-radius: 30px;
    min-width: 14em;
    margin-top: 2em;
}

.hébergements h2 {
    margin-left: 5%;
}

#blackIcon {
    color: black;
}

.artHeb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bold {
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 1.8em;
    margin-top: 0px;
}

.bold a {
    color: black;
}

.bold a:hover {
    color: #0065FC;
}


.artHeb p, h3, .star {
    margin-top: 8px;
    margin-bottom: 8px;
}

.hébergements img {
    width: 100%;
    height: 10em;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
}

.hébergements article {
    border: 3px #FFFFFF solid;
    border-radius: 20px;
    width: 29%;
    height: 25%;
    min-width: 12em;
    margin-bottom: 2em;
}

article h3, p, .star {
    margin-left: 8%;
}



/**************************Aside populaires***************************/


.populaires {
    background-color: #F2F2F2;
    width: 30%;
    border-radius: 20px;
    min-width: 20em;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.populaires h2 {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.artPop {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.artPop .star {
    margin-top: 25%;
}

.artPop p {
    margin-top: 8px;
}

.populaires img {
    width: 10em;
    height: 100%;
    object-fit: cover;
    position: relative;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires article {
    display: flex;
    border: 3px #FFFFFF solid;
    border-radius: 20px;
    max-width: 22em;
    min-width: 19em;
    height: 10em;
    margin-bottom: 2em;
}





/*************************Section activités**************************/



.actTitre {
    margin-top: 3em;
    margin-bottom: 2em;
    margin-left: 0px;
}

.activités {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.activités img {
    width: 100%;
    object-fit: cover;
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.articleLeft {
    box-shadow: 6px 6px 6px #F2F2F2;
    border-radius: 30px;
    margin-bottom: 2em;
}

.articleRight {
    box-shadow: 6px 6px 6px #F2F2F2;
    border-radius: 30px;
    margin-bottom: 2em;
}

.articleLeft img {
    height: 500px;
}

.articleRight img {
    height: 200px;
}

.firstArt {
    width: 22%;
}

.secondArt {
    width: 22%;
}

.thirdArt {
    width: 22%;
}

.fourthArt {
    width: 22%;
}

.activités h3 {
    padding-bottom: 1.2em;
    margin-top: 1em;
}


/*************************Footer**************************/


footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
}

footer div {
    display: flex;
    flex-direction: column;
}

footer h3 {
    margin-top: 2em;
}

footer div a {
    margin-bottom: 10px;
    color: black;
}




/**********************Smartphones**************************/


@media screen and (max-width: 480px) {

#bloc_page {
    margin-left: 0px;    
    margin-right: 0px;
    max-width: none;
    width: 100%;
    margin: 0px;
}



/**********************Header*************************/


.logo {
    position: absolute;
    margin-top: 0px;
    margin-left: 1em;
}

.nav {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

.nav nav {
    display: flex;
    justify-content: space-around;
}

.inscription {
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
}

.navHover {
    margin-right: 0px;
    width: 50%;
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 3px solid #F2F2F2;
}

.nav .inscription {
    padding-top: 25px;
}

.navHover:hover {
    color: #0065FC;
    border-bottom: 3px solid #0065FC;
    border-top: none;
}



/**********************Section recherche*************************/


.recherche {
    width: 90%;
    margin: auto;
}

.recherche h2 {
    margin-top: 2em;
}

.recherche input {
    width: 15em;
}

#hideSearch {
    display: none;
} 

#hideIcone {
    display: block;
    color: white;
}

.cancelMargin {
    margin-right: 50em;
    margin-bottom: 0.5em;
}

.bordure {
    margin-left: 2em;
}




/*********************Section placementHebPop*********************/


.placementSectionHebPop {
    display: flex;
    flex-direction: column-reverse;
}


/*********************Section populaire***************************/


.populaires {
    border-radius: 0px;
    width: 100%;
}

.populaires h2 {
    margin-bottom: 1.5em;
}

.populaires article {
    width: 90%;
    max-width: none;
    min-width: none;
}

.artPop .star {
    margin-top: 3em;
}


/**********************Section hebergement***********************/

.hébergements {
    background-color: white;
    width: 90%;
    margin: auto;
}

.hébergements h2 {
    margin-top: 2em;
}

.hébergements article {
    width: 100%;
    box-shadow: 6px 6px 6px #F2F2F2;
    border-radius: 30px;
    margin-top: 1em;
}

.artHeb h3, p, .star {
    margin-left: 1em;
}

.bold {
    margin-left: 0.3em;
}



/**********************Section activité*********************/


.activités {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}

.actTitre {
    margin-left: 2em;
}

.activités img {
    width: 100%;
}

.activités h3 {
    margin-top: 1em;
}

.articleRight {
    margin-left: 0px;
}

.articleLeft img {
    height: 200px;
}

.firstArt {
    width: 100%;
}

.secondArt {
    width: 100%;
}

.thirdArt {
    width: 100%;
}

.fourthArt {
    width: 100%;
}



/**********************Footer*********************************/


footer {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding-left: 2em;
}




}




/************************Tablette***************************/


@media screen and (min-width:481px) and (max-width: 1024px) {


.inscription {
    margin-right: 2em;
}

.bordure {
    margin-left: 1em;
}

.no

/*********************Section placementHebPop*********************/


.placementSectionHebPop {
    display: flex;
    flex-direction: column-reverse;
}


/**********************Section populaire***********************/


.populaires {
    width: 98%;
    margin-bottom: 2em;
}

.populaires img {
    width: 20em;
}

.populaires article {
    width: 90%;
    height: 13em;
    max-width: none;
    min-width: none;
}

.column {
    width: 100%;
    margin-top: 1em;
    margin-right: 1em;
}

.populaires .star {
    margin-top: 2em;
}


/**********************Section hébergements*********************/


.hébergements {
    width: 98%;
    margin-bottom: 2em;
}

.hébergements article {
    width: 42%;
}


/**********************Section activités**********************/

.activités img {
    width: 100%;
    height: 20em;
}

.activités {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.firstArt {
    width: 100%;
}

.secondArt {
    width: 100%;
}

.thirdArt {
    width: 100%;
}

.fourthArt {
    width: 100%;
}


/**********************Footer*************************/

footer {
    margin-left: 0px;
    margin-right: 0px;
}


}

